.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.link-primary {
  color: #0d6efd;
}
.link-primary:hover, .link-primary:focus {
  color: #0a58ca;
}

.link-secondary {
  color: #6c757d;
}
.link-secondary:hover, .link-secondary:focus {
  color: #565e64;
}

.link-success {
  color: #198754;
}
.link-success:hover, .link-success:focus {
  color: #146c43;
}

.link-info {
  color: #0dcaf0;
}
.link-info:hover, .link-info:focus {
  color: #3dd5f3;
}

.link-warning {
  color: #ffc107;
}
.link-warning:hover, .link-warning:focus {
  color: #ffcd39;
}

.link-danger {
  color: #dc3545;
}
.link-danger:hover, .link-danger:focus {
  color: #b02a37;
}

.link-light {
  color: #f8f9fa;
}
.link-light:hover, .link-light:focus {
  color: #f9fafb;
}

.link-lighter {
  color: #f8f9fa;
}
.link-lighter:hover, .link-lighter:focus {
  color: #f9fafb;
}

.link-dark {
  color: #212529;
}
.link-dark:hover, .link-dark:focus {
  color: #1a1e21;
}

.ratio {
  position: relative;
  width: 100%;
}
.ratio::before {
  display: block;
  padding-top: var(--bs-aspect-ratio);
  content: "";
}
.ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ratio-1x1 {
  --bs-aspect-ratio: 100%;
}

.ratio-4x3 {
  --bs-aspect-ratio: 75%;
}

.ratio-16x9 {
  --bs-aspect-ratio: 56.25%;
}

.ratio-21x9 {
  --bs-aspect-ratio: 42.8571428571%;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}

@media (min-width: 576px) {
  .sticky-sm-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 768px) {
  .sticky-md-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 992px) {
  .sticky-lg-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 1200px) {
  .sticky-xl-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 1400px) {
  .sticky-xxl-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-bundle--view-mode-full .field {
  margin-bottom: 1.5rem;
}

.rate-plan--view-mode-teaser {
  border: 0;
}
.main--pricing-plans .rate-plan--view-mode-teaser .card {
  height: 100%;
  width: 100%;
}
.rate-plan--view-mode-teaser .card-body {
  padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}
.rate-plan--view-mode-teaser .card-body > * {
  flex: 1 0 100%;
}
.rate-plan--view-mode-teaser .card-title {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: normal;
  margin-bottom: 1rem;
}
.rate-plan--view-mode-teaser .card-title a {
  color: currentColor;
}
.rate-plan--view-mode-teaser .btn,
.rate-plan--view-mode-teaser .btn--subscribe {
  align-self: flex-end;
}

.rate-plan .field {
  font-size: 0.75rem;
}
.rate-plan .field__label {
  margin-bottom: 0.625rem;
  line-height: 1;
}

.rate-plan__products .field__items {
  display: flex;
  flex-flow: row wrap;
}
.rate-plan__products .field__item:not(:last-child)::after {
  content: ",";
  margin-right: 1ch;
}

.rate-plan--view-mode-full h2 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}
.rate-plan--view-mode-full .field {
  font-size: 0.875rem;
}
.rate-plan--view-mode-full .rate-plan__card .field {
  font-size: 1rem;
}
.rate-plan--view-mode-full .rate-plan__card .field + .field {
  margin-top: 0.5rem;
}
.rate-plan--view-mode-full .rate-plan__card .field--inline {
  display: flex;
  align-items: center;
}
.rate-plan--view-mode-full .rate-plan__card .field--inline .field__label {
  margin: 0 0.25rem 0 0;
}
.rate-plan--view-mode-full .rate-plan__card .field--inline .field__label:after {
  content: ":";
  position: relative;
}
.rate-plan--view-mode-full .rate-plan__card--fees .field--inline .field__label::after {
  left: -0.5ch;
}
@media (min-width: 768px) {
  .rate-plan--view-mode-full .rate_plan__detail-card {
    display: flex;
    flex-wrap: wrap;
  }
}
.rate-plan--view-mode-full .rate_plan__detail-card .field {
  margin: 0 0 1rem;
}
@media (min-width: 768px) {
  .rate-plan--view-mode-full .rate_plan__detail-card .field {
    width: 50%;
  }
}
.rate-plan--view-mode-full .rate_plan__detail-card .field + .field {
  margin-top: 0;
}
.rate-plan--view-mode-full form > .form-wrapper {
  margin-bottom: 1rem;
}
.rate-plan--view-mode-full form > .form-wrapper:last-child {
  margin-bottom: 0;
}
.rate-plan--view-mode-full form .field--name-startdate {
  font-size: 0.875rem;
}
.rate-plan--view-mode-full form .field--name-startdate h4 {
  font-size: 1rem;
}
.rate-plan--view-mode-full form .field--name-startdate .form-item {
  margin-bottom: 0.25rem;
}
.rate-plan--view-mode-full form .field--name-startdate .form-control {
  background-color: #fff;
}

.rate-plan-detail__table .table {
  font-size: 1rem;
}
.rate-plan-detail__table .table tbody th,
.rate-plan-detail__table .table tbody td {
  vertical-align: top;
  padding: 1.25rem 0;
}
.rate-plan-detail__table .table tbody tr:not(:last-child) {
  border-bottom: 1px dotted #f8f9fa;
}

.purchased-plan-form .form-actions [data-drupal-selector=edit-cancel] {
  margin-left: 1rem;
}
