.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.link-primary {
  color: #0d6efd;
}
.link-primary:hover, .link-primary:focus {
  color: #0a58ca;
}

.link-secondary {
  color: #6c757d;
}
.link-secondary:hover, .link-secondary:focus {
  color: #565e64;
}

.link-success {
  color: #198754;
}
.link-success:hover, .link-success:focus {
  color: #146c43;
}

.link-info {
  color: #0dcaf0;
}
.link-info:hover, .link-info:focus {
  color: #3dd5f3;
}

.link-warning {
  color: #ffc107;
}
.link-warning:hover, .link-warning:focus {
  color: #ffcd39;
}

.link-danger {
  color: #dc3545;
}
.link-danger:hover, .link-danger:focus {
  color: #b02a37;
}

.link-light {
  color: #f8f9fa;
}
.link-light:hover, .link-light:focus {
  color: #f9fafb;
}

.link-lighter {
  color: #f8f9fa;
}
.link-lighter:hover, .link-lighter:focus {
  color: #f9fafb;
}

.link-dark {
  color: #212529;
}
.link-dark:hover, .link-dark:focus {
  color: #1a1e21;
}

.ratio {
  position: relative;
  width: 100%;
}
.ratio::before {
  display: block;
  padding-top: var(--bs-aspect-ratio);
  content: "";
}
.ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ratio-1x1 {
  --bs-aspect-ratio: 100%;
}

.ratio-4x3 {
  --bs-aspect-ratio: 75%;
}

.ratio-16x9 {
  --bs-aspect-ratio: 56.25%;
}

.ratio-21x9 {
  --bs-aspect-ratio: 42.8571428571%;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}

@media (min-width: 576px) {
  .sticky-sm-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 768px) {
  .sticky-md-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 992px) {
  .sticky-lg-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 1200px) {
  .sticky-xl-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 1400px) {
  .sticky-xxl-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.apigee-m10n-prepaid-balance-wrapper h3 {
  margin-bottom: 1.5rem;
}
.apigee-m10n-prepaid-balance-wrapper table .dropbutton-single .button {
  border-radius: 2px;
}

form.prepaid-balance-refresh-form .btn {
  font-size: 0.875rem;
  text-transform: none;
}
form.prepaid-balance-refresh-form .btn:hover {
  background-color: var(--ak-accent-color);
  color: var(--ak-accent-color-light);
  border-color: var(--ak-accent-color);
}

form.previous-balances-reports-download-form {
  background-color: #f8f9fa;
  border-radius: 4px;
  padding: 1rem 1.5rem 1.2rem;
  max-width: none !important;
}
@media (min-width: 768px) {
  form.previous-balances-reports-download-form {
    display: flex;
    align-items: flex-end;
  }
}
form.previous-balances-reports-download-form label {
  font-size: 0.85rem;
  font-weight: 500;
  margin: 0;
}
@media (min-width: 768px) {
  form.previous-balances-reports-download-form .form-item {
    margin: 0 1rem 0 0;
  }
}
form.previous-balances-reports-download-form .form-select {
  background-color: #fff;
}
@media (min-width: 768px) {
  form.previous-balances-reports-download-form .form-actions {
    margin: 0 0 0 auto !important;
  }
}
form.previous-balances-reports-download-form .form-actions .btn {
  font-size: 0.875rem;
  padding: 0.625rem 1rem;
  text-transform: none;
}
